.header {
    padding: 30 0 0 0;
    align-items: left;
}

.footer {
    justify-content: center;
}

.footer button {
    padding: 10;
    cursor: pointer;
}

.footer button:hover {
    filter: invert(100%);
    transition: .6s;
}